<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="css/footer.css">
</head>
<body>
    <div class="footer">
        <div class="foot_container">
            <div class="zero" id="fb">
                <a href="#"></a>
            </div>
            <div class="zero" id="tw">
                <a href="#"></a>
            </div>
            <div class="zero" id="ig">
                <a href="#"></a>
            </div>
            <h5>About us</h5>
            </div>

            <h3 >All the right reserved to Study_booster :  &copy;</h3>
        </div>
</body>
</html>