
<!DOCTYPE html>
<html>
<head>
  <title>Create Categroy</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css"> 
</head>
<body>
  <div class="main">
    <div class="createCategroy">
  <h2>Create Category</h2>

  <form id="createCategroy" action="/category" method="POST">
    <label for="name">Name:</label>
    <br />
    <input type="text" id="name" name="name" placeholder="Enter your name"  required>
    <br />
    <label for="description">Description:</label>
    <br />
    <textarea id="description" name="description"></textarea>
    <br />
    <button type="submit">Create Category</button>
  </form>
</div>
</div>
</body>
</html>
