<!-- success.html -->

<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet"  href="/css/style1.css">
</head>
<body>
  <h1><%= heading %></h1>
  <p><%= message %></p>
  <!-- Add any additional content or styling as desired -->
</body>
</html>